# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
dev-dist/


# Environment files
.env
.env.*
!.env.example
*.local

# Logs
logs
*.log
npm-debug.log*

# System & Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
.vercel
.env*
# Firebase Service Accounts
firebase-service-account*.json
*-firebase-adminsdk-*.json
